

  

    
  main {
    display: flex;
  }
    
  section {
    margin-top: 24px;
  }
      
  
    /* hero section */
      
  .hero-section {
    margin-top: 32px;
    width: 100%;
    display: block;
    
    box-sizing: border-box;
    background-color: #fdfaf3;
    column-gap: 56px;
  }

/* images */
      
  img {
    width: 140px;
    height: 140px;
  
    margin-top: 40px; 
    margin-bottom: 40px;
  }
      
  .quote {
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
    font-size: 2rem;
    color: #886811;
    /* margin-top: 160px; */
    width: auto;
    height: auto;
  }
      
  #author {
      font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #797979;
    margin-top: 160px;
  }
        
  /* card section */
  
  .card {
      width: 100%;
      margin: auto;
      border-radius: 16px;
    border: 1.5px solid #a77b0133;
    box-shadow: 8px 8px 8px rgba(170, 90, 10, 0.727);
    /* background-color: #f2bd413b; */
    background: linear-gradient(#9ed9d23a, #9ed9d265);
    height: 130px;
  }
  
      
  .card-text {
      margin-top:4%;
      margin-left: 8%;
      margin-right: 8%;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1.75rem;
    font-style: normal;
    color: #93700f;
  }


.heading-container{
  text-align: center;
  margin-top: 32px;
  display: block;
  margin:auto;
  

}

#chosen-option-joke {
  text-decoration-line: underline;
  color: #a27701;
  font-size: 2.05rem;

}

/* headings */

h3 {
  margin-top:48px;
  color: #daa002;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-size:2rem;
  font-style: normal;
  /* color: #85650d; */
}


h1 {
  margin-top:40px;
  color: #a27701;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-size:2.65rem;
  font-style: normal;

  /* color: #85650d; */
}


/* button styling */

.button-area{
    margin:auto;
    text-align: center;
    display: block;
}
.btn-primary {
    margin-top:40px;
    background-color: #8e6c10;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.092);
    font-weight: 400;
    font-size: 1.25rem;
    padding-left:20px;
    padding-right:20px;
    margin-bottom: 24px;
  } 


  .btn-primary:not(:disabled):not(:disabled):active {
    background-color: #f2bc75;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.092);
    font-weight: 400;
    font-size: 1.25rem;
    padding-left:20px;
    padding-right:20px;
    color: #8e6c10;
 } 

 .btn-primary:hover {
  background-color: #f2bc75;
  border: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.092);
  font-weight: 400;
  font-size: 1.25rem;
  padding-left:20px;
    padding-right:20px;
  color: #8e6c10;
} 

#save-entry-btn{
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.3rem;
  font-style: normal;
  color: #e80c0cd5;

    font-family: "Outfit";
    background-color: #e354542d;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.092);

 padding-top: 2px;
 padding-bottom: 4px;
    outline: none;
    border-radius: 16px;
    width: 135px;
    margin-left: 48px;
}


#save-entry-btn:hover {

    font-weight: 400;
    font-size: 1.3rem;
    font-style: normal;
    color: white;
      font-family: "Outfit";
      background-color: #d4071f90;
   padding-top: 2px;
   padding-bottom: 4px;
      text-decoration: none;
      border-radius: 16px;
      width: 135px;
      outline:none;
}

