    .card {
        display:inline-block;
    }
    
    main {
        display: flex;
    }
    
    section {
        margin-top: 200px;
    }
    
    /* hero section */
    
    .hero-section {
        margin-top: 32px;
        width: 100%;
        height: 600px;
        display: block;
        align-items: start;
        box-sizing: border-box;
        background-color: #fdfaf3;
        column-gap: 56px;
        padding-left: 100px;
        padding-right: 100px;
    
    }
    
    img {
        width: 440px;
        height: 350px;
      
        margin-top: 80px;
       
      
        /* filter: drop-shadow(6px 6px 4px #f1f9f8); */
    }
    
    .quote {
      font-family: "Quicksand", sans-serif;
      font-weight: 800;
      font-size: 2rem;
      color: #886811;
      /* margin-top: 160px; */
      width: auto;
      height: auto;
    }
    
    #author {
        font-family: "Quicksand", sans-serif;
      font-weight: 400;
      font-size: 1.2rem;
      color: #797979;
      margin-top: 160px;
    }
      
      /* card section */
    
      .card {
          width: 100%;
          margin: auto;
          border-radius: 16px;
        border: 1.5px solid #a77b0133;
        box-shadow: 8px 8px 8px rgba(170, 90, 10, 0.727);
        /* background-color: #f2bd413b; */
        background: linear-gradient(#FFF0C6, #fcde83a6);
      }
    
      .card-subtitle {
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 1.4rem;
        font-style: normal;
        color: #565656;
        margin-left: 8%;
        margin-right: 8%;
       
      }
    
      .card-text {
          margin-top:3%;
          margin-left: 8%;
          margin-right: 8%;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 450;
        font-size: 1.75rem;
        font-style: normal;
        color: #93700f;
      }
 
    
      /* form and text area styling */

    div.form-floating {
      margin:auto;
      width: 70%;
      /* border: 3px solid #8AC0BA; */
      border-radius: 16px;
      height: 60%;
      display: block;
      /* box-shadow: inset 6px 6px 10px 0(0,0,0,0,2), inset -6px -6px, 10px, 0 rgba(255,255,255,0.5) */
    
    }


    .form-control {
      box-sizing:border-box;
      /* background-color: #fdfdfd; */
      /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5); */
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px 0px inset, rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
   
    }

   

    .form-label {
      font-family: "Quicksand";
      font-size: 1.1rem;
      margin-left: 4%;

    }
    
    .icons {
      text-align: center;
    }

    .quote-journal-div {
      display: block;
      width: auto;
      margin: auto;
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 56px;
   

    }

    .quote-journal {
   
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1.8rem;
    font-style: normal;
    color: #628e89;
    }

    #reflection-text {
margin-top: 40px;
margin-bottom: 40px;
      font-family: "Outfit", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-size: 1.2rem;
      font-style: normal;
      color: #4e6a67;      
    }


    .error {
        color: red,
        text-align: center,
        font-weight: 300;
        margin-right: 30%
    }

    /* lightbulb icon */
    .fa-feather {
      color: #6D9691;
      margin: auto;
      margin-right: 2%;
      }
   