.container {

    margin-top: 32px;
    display: flex;
    /* position: fixed; */
    top:48px;
    left: 48px;
    right: 48px;
    width: 100%;
    background-color: none;
    overflow: auto;
    height: auto;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.2rem;
    font-style: normal; 
   
  }

/* aligns nav items to the left using nav class */
.nav {
    margin-left: auto;
    color: #A77A01;
    
}



a.nav-link {
    color: #A77A01;
    margin-top: 8px;
}

a.nav-link:hover {
    margin-left: auto;
    color: #7a5a01;
}

.nav-pills .nav-link.active {
    
    background: #7E70AA;
}

.nav-pills .nav-link.active:hover {
    
    background: #665b8b;
}


/* Footer styles */

.icons {
    text-align: center;
}

.fa-square-github {
    color: rgba(111, 111, 111, 0.736);
    font-weight: 100;
    padding-top: 24px;
    margin-bottom: 16px;
}

.attributions {
    margin:auto;
    margin-top: 24px;
    text-align: center;
}

a {
    text-align: center;
    color: rgba(111, 111, 111, 0.809);
    text-decoration: none;
    text-align: center;
    font-family: "Outfit";
}


.logo-image {
    height: 64px;
    width: 80px;
    float: left;
    float: left;
}

/* styling for notifications */


.notification {
    color: white;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 500px;
    text-align: center;
    top: 10px;
    border-radius: 4px;
    border-left: 5px solid white;
}

.notification-error {
    background: red;
    z-index: 12;
}

.notification:not(.error) {
    background: green;
    z-index: 12;
}
