.overview {
    text-align: center;
    font-size: 45px;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    color: #A77A01;
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: start;
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/** please keep this code for the nav bar and footer.
have tried removing them and it made everything wonky. **/


/* NAV BAR */
.container {
    margin-top: auto;
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
    overflow: auto;
    height: auto;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.2rem;
    font-style: normal;
  }
  
  /* ENSURE NAV BAR STRETCHES ACROSS THE SCREEN */
  body::before {
    position: fixed;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    /* Height should match the height of the navigation bar */
    background-color: white;
    z-index: 0;
    /* Ensure the strip appears behind the navigation bar */
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background-color: #ffffff;
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
    width: 100%;
  }
  
  
  
  /* aligns nav items to the left using nav class */
  .nav {
    margin-left: auto;
    color: #A77A01;
    margin-top: 20px;
  }
  
  a.nav-link {
    color: #A77A01;
  }
  
  a.nav-link:hover {
    margin-left: auto;
    color: #7A5A01;
  }
  
  .nav-pills .nav-link.active {
    background: #7E70AA;
  }
  
  .nav-pills .nav-link.active:hover {
    background: #5e547f;
  }
  
  /* NAV BAR MOBILE VIEW */
  @media screen and (max-width: 600px) {
    .nav {
      flex-direction: column;
      /* Stack nav items vertically does this even work lol*/
      align-items: center;
      /* Center align nav items*/
    }
  
    .nav-item {
      margin-bottom: 5px;
      /* Add space between nav items */
    }
  }

body {
    background-color: #F2E7C4;
    margin: 0;
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    flex: 1;
    width: 100%;
    padding: 80px 20px 170px;
    box-sizing: border-box;
}

/* Calendar Styles */
.calendar-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
    padding: 20px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Outfit", sans-serif;
    background: #A77A01;
    border-radius: 10px;
    padding: 5px;
}

.calendar-header h2 {
    margin: 0;
    font-size: 30px;
    color: #fff;
}

.calendar-header button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.day-names,
.days {
    display: flex;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    border-radius: 16px;
}

.day-names div {
    width: 14.28%;
    text-align: center;
    padding: 5px 0;
    background: #f2f2f2;
    margin-top: 10px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    border: 1px solid #7A5A01;
    color: #7A5A01;
}

.days div {
    width: 14.28%;
    text-align: center;
    padding: 5px 0;
    background: #fff;
    border: 1px dotted #7A5A01;
}

.days a {
    color: #A77A01;
    text-decoration: none;
}

.days a:hover {
    color: #7E70AA;
    text-decoration: underline;
}

.days .empty {
    background: #fff;
}

#ajax-form-container {
    text-align: center;
    margin: 20px auto;
    color: #A77A01;
    font-family: "Outfit", sans-serif;
}

.btn #submit {
    width: 100%;
    height: 30px;
    background: #7E70AA;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}

#myChart {
    width: 100%;
    max-width: 700px;
}
