
  
  h1 {

    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    margin-top: 50px;
    font-style: normal;
    color: whitesmoke;
  }

body {
    text-align: center;
    background: linear-gradient(-45deg, #f7cac9, #92a8d1, #dec2cb, #abb1cf, #c5b9cd);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}


/* BACKGROUND */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* POSITIONING */
/* I'm gonna cry I want it in rows*/

.container-happy,
.container-calm,
.container-sad,
.container-worried,
.container-frustrated,
.container-angry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

/* GIF ADJUSTMENTS */
.happy,
.calm,
.sad,
.worried,
.frustrated,
.angry {
  margin-top: 20px; /* tinker with this */
}

/* TITLES OF THE EMOTION SCALE*/

.happy-text,
.calm-text,
.sad-text,
.worried-text,
.frustrated-text,
.angry-text {
  font-family: "Poetsen One", sans-serif;
  font-weight: 250;
  font-style: normal;
  color: whitesmoke;
  margin-top: 10px; /* Adjust as needed */
}



/* DO NOT TOUCH BEYOND THIS POINT 

the code below is for the search bar, however
the preference was to have a scale instead which
4-6 GIFs of different emotions appear on the page
in teh first instance and the user selects by clicking on one

*/

/* Rounded search bar - not needed anymore so i'm commenting it out */


/* #emotion-input {
    border-radius: 20px; /* Adjust the value as needed /
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    width: 200px; /* Adjust the width as needed /
  } 
  
  button {
    font-family: 'Poetsen One', sans-serif; /* Add the custom font/
    border-radius: 20px; /* Adjust the value as needed /
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }*/