

  .card-img-top {
   height: 120px;
   width:120px;
   margin:auto;
  }
    
  
    /* hero section */
      
  .hero-section {
    padding-top: 36px;
    width: 100%;
    height: 640px;
    display: block;
    
    box-sizing: border-box;
    background-color: #fdfaf3;
    column-gap: 56px;
   
  }
       
  /* card section */
  
  .card {
      width: 80%;
      /* margin: auto;  */
     border-radius: 16px;
    border: 1.5px solid #a77b0133;
    box-shadow: 8px 8px 8px rgba(170, 90, 10, 0.727);
    background: linear-gradient(#FFF0C6, #fcde83a6);
    margin-top: 100px;
    margin-bottom: 200px;
    transition: transform .3s; /* Animation */
  }

  .card:hover{
    transform: scale(1.05);
  }
  
 
      
  .card-text {
     
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-size: 1.5rem;
    font-style: normal;
    color: #b48401;
  }
  
  /* buttons*/
  


   .btn-primary {
    background-color: #8e6c10;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.092);
    font-weight: 400;
    font-size: 1.25rem;
    padding-left:12px;
    padding-right:12px;
    margin-bottom: 24px;
  } 


  .btn-primary:not(:disabled):not(:disabled):active {
    background-color: #f2bc75;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.092);
    font-weight: 400;
    font-size: 1.25rem;
    padding-left:12px;
    padding-right:12px;
    color: #8e6c10;
 } 

 .btn-primary:hover {
  background-color: #f2bc75;
  border: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.092);
  font-weight: 400;
  font-size: 1.25rem;
  padding-left:12px;
  padding-right:12px;
  color: #8e6c10;
} 


  
  .heading-container{
    margin-top: 16px;
    text-align: center;
    display: block;
    margin:auto;

  }

  #chosen-feeling {
    text-decoration-line: underline;
    color: #a27701;
    font-size: 2.05rem;
 
  }

  /* headings */

  h3 {
    color: #daa002;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-size:2rem;
    font-style: normal;
    /* color: #85650d; */
  }


  h1 {
    margin-top:16px;
    color: #a27701;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-size:2.65rem;
    font-style: normal;
    /* color: #85650d; */
  }


  .flaticon-attribute{
    text-align: center;
    justify-content: center;
  }

  .flaticon {
    color: rgb(111, 111, 111);
    font-weight: 100;
    text-align: center;
  }

