* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

/* NAV BAR */
.container {
    margin-top: 32px;
    display: flex;
    /* position: fixed; */
    top: 48px;
    left: 48px;
    right: 48px;
    width: 100%;
    background-color: none;
    overflow: auto;
    height: auto;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.2rem;
    font-style: normal;
}

/* aligns nav items to the left using nav class */
.nav {
    margin-left: auto;
    color: #A77A01;
}

a.nav-link {
    color: #A77A01;
}

a.nav-link:hover {
    margin-left: auto;
    color: #7a5a01;
}

.nav-pills .nav-link.active {
    background: #7E70AA;
}

.nav-pills .nav-link.active:hover {
    background: #665b8b;
}

/* Footer styles */

.attributions {
    text-align: center;
    margin-top: 14px;
}

.attribution{
    color: rgba(111, 111, 111, 0.736);
    text-decoration: none;
    font-weight: 100;
    font-size: 0.4;
    font-family:"Quicksand";
}
.icons {
    text-align: center;
    justify-content: center;
}

.fa-square-github {
    color: rgba(111, 111, 111, 0.736);
    font-weight: 100;
    margin-top: 8px;
  
}

.logo-image {
    height: 64px;
    width: 80px;
    margin: 0;
}

/* Styling for notifications */

.notification, .notification-error {
    color: white;
    padding: 16px 24px;
    max-width: 420px;
    text-align: center;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    z-index: 1;
}

.notification-error {
    background: red;
}

.notification:not(.error) {
    background: rgba(0, 128, 0, 0.685);
}
