/* BACKGROUND */
body {
  text-align: center;
  background: linear-gradient(-45deg, #f7cac9, #92a8d1, #dec2cb, #abb1cf, #c5b9cd);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* ANIMATION */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* HEADINGS */
h1 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  margin-top: 20px; /* Reduce margin for mobile view */
  font-style: normal;
  color: whitesmoke;
}

/* GRID LAYOUT */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the column width */
  grid-gap: 10px; /* Add gap between items */
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust height for mobile view */
  padding: 10px; /* Add padding */
}

/* GIFS AND TEXT */
.emotion-container {
  margin-top: 10px; /* Adjust margin for mobile view */
}


.emotion-container embed {
  width: 100%; /* Make iframe responsive */
}


.gif-text {
  font-family: "Poetsen One", sans-serif;
  font-weight: 250;
  font-style: normal;
  color: whitesmoke;
  margin-top: 5px; /* Adjust margin for mobile view */
  text-align: center; /* Center text */
}

/* GIPHY IMAGE */
.giphy {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.giphy img {
  width: 100px; /* Adjust image width */
  height: auto; /* Maintain aspect ratio */
}

/* MOBILE VIEW */
@media screen and (max-width: 600px) {
  /* Adjustments for screens up to 600px wide */
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust column width */
    height: 70vh; /* Adjust height */
  }
}

  h1 {
    margin-top: 10px; /* Adjust margin */
  }

  .gif-text {
    font-size: 14px; /* Adjust font size */
    text-align: center; /* Center text */
  }

/* GIPHY CREDS */
.giphy {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 50px;
  opacity: 20%;
  height: auto;
}


/* DO NOT TOUCH BEYOND THIS POINT 

the code below is for the search bar, however
the preference was to have a scale instead which
4-6 GIFs of different emotions appear on the page
in teh first instance and the user selects by clicking on one



#emotion-input {
    border-radius: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    width: 200px; 
  } 
  
  button {
    font-family: 'Poetsen One', sans-serif; 
    border-radius: 20px; 
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  */