{% extends "layout.html" %} {%- block title %} Joke {% endblock %} {%- block
styles -%}<link rel="stylesheet" href="../static/css/joke.css" />
{% endblock -%} {%- block main -%}
<!-- hero section -->
<div class="hero-section">
  <section>
    <div class="heading-container">
      <h3>
        You have a chosen a <span id="chosen-option-joke">joke{{emotion}}</span>
      </h3>
      <h1>Great choice!</h1>
      <div id="girl-laughing-image">
        <img src="../static/css/icons/guy-farting.png" alt="" />
      </div>
    </div>
  </section>
  <div class="card" style="width: 48rem; height: 18rem">
    <div class="card-body">
      <p class="card-text">{{joke}}</p>
      <form method="Post">
        <button type="submit" value="submit" id="save-entry-btn" class="btn">
          Save entry
        </button>
      </form>
    </div>
  </div>

  <div class="button-area">
    <a href="/journal" class="btn btn-primary">Go to journal</a>
  </div>
</div>
{%- endblock %}
