{% extends "layout.html" %} {% block title %} Joke {% endblock %} {% block
styles %}
<!-- temporarily using the same styling as the quote page -->
<link rel="stylesheet" href="../static/css/joke.css" />
{% endblock %} {% block main %}
<!-- hero section -->
<div class="hero-section">
  <section>
    <div class="heading-container">
      <h3>
        You have a chosen a <span id="chosen-option-joke">joke{{emotion}}</span>
      </h3>
      <h1>Great choice!</h1>
      <div id="girl-laughing-image">
        <img src="../static/css/icons/guy.png" alt="" />
      </div>
    </div>
  </section>
  <div class="card" style="width: 48rem; height: 18rem">
    <div class="card-body">
      <i class="fa-regular fa-heart fa-xl"></i>
      <p class="card-text">{{joke}}</p>
      <button type="submit" value="submit" id="save-entry-btn" class="btn">
        Save entry
      </button>
    </div>
  </div>
  <form method='Post'>
    <button type="submit" class="btn">Save today's emotion</button>
  </form>

  <div class="button-area">
    <a href="/journal" class="btn btn-primary">Go to journal</a>
  </div>
</div>
{% endblock %}
<!-- 
<a href="https://www.flaticon.com/free-icons/laugh" title="laugh icons">Laugh icons created by aslaiart - Flaticon</a> -->
<!-- https://www.flaticon.com/free-icon/girl_7836495?term=joke&page=1&position=59&origin=search&related_id=7836495 -->
