{% extends "layout.html" -%} {%- block title %} Journal {% endblock %} {%- block
styles -%}<link rel="stylesheet" href="../static/css/journal-page.css" />
{% endblock -%} {%- block main -%}
<!-- hero section -->
<div class="hero-section">
  <section>
    <div class="heading-container">
      <h1>My Journal</h1>
    </div>
  </section>
  <div class="quote-journal-div">
    <p id="reflection-text">How are you feeling?</p>
  </div>
  <div class="container-image">
    <div id="guy-journalling-image">
      <img src="../static/css/icons/guy-laptop.png" alt="" />
    </div>
  </div>
  <div class="form-floating">
    <form method="POST" id="journal_form">
      <textarea
        name="textarea"
        class="form-control"
        id="floatingTextarea2"
        placeholder="Today has been..."
        style="height: 100%"
      ></textarea>
      <button type="submit" value="submit" id="save-entry-btn" class="btn">
        Save entry
      </button>
    </form>
    <div class="button-area">
      <a href="/overview" class="btn btn-primary">Go to overview</a>
    </div>
  </div>
</div>
{%- endblock %}
