{% extends "layout.html" %}

{% block title %} Journal {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/journal-page.css" />
{% endblock %}

{% block main %}
      <!-- hero section -->
      <div class="hero-section">
          <div class="quote-journal-div">
           
              <h2 class="quote-journal"><i class="fa-solid fa-lightbulb fa-lg center"></i>{{quote}} - {{author}} </h2>
              
              <p id="reflection-text">How does this change your perception?</p>
          </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100%"></textarea>
            <label for="floatingTextarea2" class="form-label">Your journal entry</label>
          </div>
{% endblock %}