<!-- this page contains only the html for the main block of the mood choosing page -->
<!-- this is the same as import from  -->
{% extends "layout.html" %}

{% block title %} <!-- this block allows to change the title of the page-->
    Your mood
{% endblock %}

{% block styles %} <!-- this block is to add specific css styles for this page -->
  <link href="../static/css/mood-page.css" rel="stylesheet">
{% endblock %}

{% block main %}        <!-- beginning of the main block which gives content to the <main> from the layout.html template -->


  <h1>How are you feeling today?</h1>

    <div class="grid-container">

        {% for emotion, url in emotions | dictsort %} <!-- This loops the following html code through the emotions dict passed through the http -->
            <div class="emotion-container">
                <video id={{emotion}} width="200" autoplay muted loop onclick="location.href = '/choice/{{emotion}}';">
                  <source src="{{url}}" type="video/mp4"> <!-- the double curly brackets {{url}} is how jinja understands "url" is a variable -->
                </video>
                <div class="gif-text">
                    <p>{{emotion}}</p> <!-- the emotion variable is just how I called the keys in the dictionary we are looping through-->
                </div>
            </div>
      
        {% endfor %}


    <!-- CALM
    <div class="calm">
      <iframe src={{emotions['calm']}} frameBorder="0" allowFullScreen sandbox></iframe>
      <div class="calm-text">
        <p>calm</p>
      </div>
    </div>

    SAD -->
    <!-- <div class="sad">
      <iframe src="https://giphy.com/embed/SBtR0Y1D8IdrCy6Ao4" frameBorder="0" allowFullScreen sandbox></iframe>
      <div class="sad-text">
        <p>sad</p>
      </div>
    </div> -->


  <!-- Image in the bottom left corner -->
  <div class="giphy">
    <img
      src="../static/PoweredBy_200px-White_HorizText.png"
      alt="Powered by GIPHY">
  </div>
  <!-- COMMENTED OUT SEARCH BAR-->
  <!-- 
  <input type="text" id="emotion-input" placeholder="enter your emotion">
  <button onclick="searchGifs()">Search</button>

  <div id="gif-container"></div> -->


{% endblock %} <!-- end of the main block-->


{% block script %} <!-- this block contains js scripts that are specific to this template -->
  <script src="../static/mood-page.js"></script>
{% endblock %}