{% extends "layout.html" %}

<!--title-->
{% block title %} GIFeels {% endblock %}

{% block styles %} <!-- this block is to add specific css styles for this page -->
  <link href="../static/css/mood-page.css" rel="stylesheet">
{% endblock %}

{% block main %} <!-- beginning of the main block which gives content to the <main> from the layout.html template -->

<div class="box">
  <h1>How are you feeling today?</h1>
</div>

<div class="grid-container">
    {% for emotion, url in emotions | dictsort %}
        <div class="emotion-container">
            <video id="{{ emotion }}-gif" width="200" autoplay muted loop onclick="location.href = '/choice/{{ emotion }}';">
                <source src="{{ url }}" type="video/mp4">
            </video>
            <div class="gif-text">
                <p>{{ emotion }}</p>
            </div>
        </div>
    {% endfor %}
</div>

<div class="giphy">
  <img src="../static/PoweredBy_200px-White_HorizText.png" alt="Powered by GIPHY">
</div>

{% endblock %} <!-- end of the main block -->

{% block script %} <!-- this block contains js scripts that are specific to this template -->
<script src="../static/mood-page.js"></script>
<script src="../static/mood-page-color.js"></script>


{% endblock %}