<!-- this page contains only the html for the main block of the quote page -->

{% extends "layout.html" %} 

{% block title %} Quote of the day {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/quote-page.css" />
{% endblock %}

{% block main %}
      <!-- hero section -->
      <div class="hero-section">
        <div class="card" style="width: 48rem; height: 18rem">
          <div class="card-body">
            <i class="fa-regular fa-heart fa-xl"></i>
            <p class="card-text">
              'Failure Shouldn't Define You, But It Can Help Shape You.'
            </p>
          </div>
          <!-- <i class="fa-regular fa-heart"></i> -->
          <!-- <i class="fa-regular fa-trash-can"></i> -->
          <!-- <br> -->
          <h6 class="card-subtitle mb-2 text-muted">- Author</h6>
          <br />
          <a href="#" class="card-link">Go to Journal</a>
          <a href="#" class="card-link-2">Overview</a>
        </div>
      </div>
{% endblock %}
