{% extends "layout.html" %}{% block title %} Quote of the day {%- endblock -%} 
{% block styles %}<link rel="stylesheet" href="../static/css/quote-page.css" />
{%- endblock %}{% block main -%}
<!-- hero section -->
<div class="hero-section">
  <section>
    <div class="heading-container">
      <h3>
        You have a chosen an
        <span id="chosen-option-quote">inspirational quote</span>
      </h3>
      <h1>Great choice!</h1>
      <div id="girl-laughing-image">
        <img src="../static/css/icons/girl-motivation.png" alt="" />
      </div>
    </div>
  </section>
  <div class="card" style="width: 48rem; height: 18rem">
    <div class="card-body">
      <!-- <i class="fa-regular fa-heart fa-xl"></i> -->
      <p class="card-text">{{quote}}</p>
    </div>
    <h6 class="card-subtitle mb-2 text-muted">- {{author}}</h6>
    <br />
    <form method='Post'>
       <button type="submit" class="btn" id="save-entry">Save entry</button>
    </form>

  </div>
  <div class="button-area">
    <a href="/journal" class="btn btn-primary">Go to journal</a>
  </div>
</div>
</div>
{%- endblock %}
