<title> Register </title>


{% block style %}
    <!-- to do: add stylesheet <link> here -->
    <link rel="stylesheet" href="../static/css/register-page.css" />

      <!--font-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
{% endblock %}


{% block main %}
  <div>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <span id="error">{{ message }}</span>
    {% endfor %} {% endif %} {% endwith %}
  </div>
<div class="wrapper">
    {% from "_formhelpers.html" import render_field %}
    <form method="POST" id="RegisterForm" action="">
        <h1>Count me in.</h1>
  <dl>
      {{ render_field(form.FirstName) }}
      {{ render_field(form.LastName) }}
      {{ render_field(form.Username) }}
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
      {{ render_field(form.confirm) }}
      {{ render_field(form.accept_tos) }}
  </dl>
        <button type="submit" value="submit" id="save-entry-btn">Register</button>
    </form>
</div>

{% endblock %}



{% block script %}
<!-- to do: add any script for the register page here (if needed) -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}