{% extends "layout.html" %}
{% block title %}Archive{% endblock %} 
{% block styles %} <link rel="stylesheet" href="../static/css/archive.css" />{% endblock %} 
{%- block main -%}
<div class="main-section">

    <section>
        <div class="heading-container">
            <h3>Your mood on:</h3>
            <h1>{{date}}</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">

            <!-- Your saved emotion and gif for that date -->
            <div class="col-6">
                <div class="archive-body">
                    <div id="feeling-body">
                        <h3>You were feeling</h3>
                        <p id="feeling-text">{{record.emotion}}</p>
                        <video id="{{ record.emotion }}-gif" class="gif-video" autoplay muted loop>
                            <source src="{{ record.gif_url }}" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>

            <!-- Your diary entry -->
            <div class="col-6">
                <div class="diary">
                    <div class="diary-body">
                        <h3>Diary entry</h3>
                        <p class="diary-text">{{record.diary}}</p>
                    </div>
                </div>
            </div> 
            
        <!-- Your saved quote / joke -->
        <div class="col-6">
            <div class="quote-body">
                <h3>{{record.choice}}</h3>
                <p class="quote-text">{{record.quote_joke}}</p>
            </div>
        </div>
    </div>       
        </div>
    </div>
</div>
{%- endblock %}