{% extends "layout.html" %}{% block title %} Login {% endblock %} 
{% block styles %}<link rel="stylesheet" href="../static/css/login-page.css" />
{% endblock %}{% block main %}
<div class="login-wrapper">
    <form method="POST" action="">
        <h1>welcome home.</h1>
        <div class="input-box">
            <input type="text" placeholder="Username" name="uname" required>
            <i class='bx bxs-user'></i>
        </div>

        <div class="input-box">
            <input type="password" placeholder="Password" name="password" required>
            <i class='bx bxs-lock-alt'></i>
        </div>

        <div class="button">
            <button type="submit" class="btn">Login</button>
        </div>
    </form>
    <br>
    <div class="button">
        <button class="btn" onclick="window.location.href = '{{url_for('main.login_google')}}'">Login with Google</button>
    </div>
    <div class="register-link">
        <p>Don't have an account? <a href="/register">Register</a></p>
    </div>
</div>


{%endblock%}
{% block script %}
<!-- Script for icons -->
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
{% endblock %}