{% extends "layout.html" %}
{% block title %} Overview {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="../static/css/overview.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}
{% block main %}
<div class="overview">
    <p>OVERVIEW</p>
</div>

<!-- Grid Container -->
<div class="grid-container">
    <!-- Canvas tag for chart -->
    <canvas id="myChart"></canvas>

    <!-- Calendar -->
    <div class="calendar-container">
        <div class="calendar-header">
            <button id="prevMonth">❮</button>
            <h2 id="monthYear"></h2>
            <button id="nextMonth">❯</button>
        </div>
        <div class="calendar-body">
            <div class="day-names">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="days" id="days"></div>
        </div>
    </div>
</div>

<!-- Form to input dates -->
{% endblock %}
{% block script %}
<!-- Calendar JavaScript -->
<script src="../static/overview.js"></script>

<!-- Chart JavaScript-->
<script type="text/javascript">


const theChart = new Chart("myChart", {
  type: "bar",
  data: {
    labels: ["Angry", "Calm", "Frustrated", "Happy", "Sad", "Worried"],
    datasets: [{
      backgroundColor: ["#ff9c78", "#D5E386", "#F2BDC7", "#FFEEA8", "#D9E8F5", "#D9D9D9"],
      data: [0, 0, 0, 0, 0, 0]
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: ""
    },
    scales: {yAxes: [{display: true,
                            ticks: {
                                beginAtZero: true,
                                steps: 10,
                                precision: 0,
                                min: 0
                            }
                        }]
                },
  }
});

</script>
{% endblock %}
