{% extends "layout.html" %}{% block title %} Register {% endblock %}
{% block styles %}<link rel="stylesheet" href="../static/css/register-page.css" />
{% endblock %}{% block main %}
<div class="reg-wrapper">
  {% from "_formhelpers.html" import render_field %}
  <form method="POST" id="RegisterForm" action="">

    <h1>Count me in.</h1>

    <dl class="input-container">

      <div class="input-field">
        {{ render_field(form.FirstName) }}
      </div>

      <div class="input-field">
        {{ render_field(form.LastName) }}
      </div>

      <div class="input-field">
        {{ render_field(form.Username) }}
      </div>

      <div class="input-field">
        {{ render_field(form.email) }}
      </div>

      <div class="input-field">
        {{ render_field(form.password) }}
      </div>

      <div class="input-field">
        {{ render_field(form.confirm) }}
      </div>

      <div class="check-box">
        {{ form.accept_tos }}
        <label for="accept_tos">
          I give GIFeels permission to use my personal data
        </label>

      </div>
    </dl>

      <div class="btn">
          <button id="register-entry-btn">Register</button>
      </div>
  </form>
</div>
{% endblock %} 
{% block script %}
{% endblock %}
